{% extends 'base.html' %} {% load static %} {% block content %}
<div>
  <p>This is the manage prescribers page</p>

  <a href="{% url 'add' %}"
    ><button type="button" class="btn btn-primary">Add Prescriber</button></a
  >
  <br /><br />

  <div class="container">
    {% for presc in key %}
    <p>
      <a href="{% url 'edit' npi=presc.npi%}"
        ><button type="button" class="btn btn-primary">Edit</button></a
      >
      {{ presc.namedesc }}
      <a href="{% url 'deletePresc' npi=presc.npi%}"
        ><button type="button" class="btn btn-primary">Delete</button></a
      >
    </p>
    {% endfor %}
  </div>
</div>
{% endblock %}
